# .gitignore
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.idea/
.vscode/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/

# Project specific
intersection/episode_routes.rou.xml

!models/.gitkeep
data/*
!data/.gitkeep
results/*
!results/.gitkeep

venv_traffic/
orchestrator
models/model_2
models/model_3
models/model_4
models/model_5
models/model_6
models/model_7
models/model_8
models/model_9
models/model_10
models/model_11